//
// Custom styles
//

// Customised colour palette
$heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 
$green: #bfd746;    

$navy: #323E40;
$yellow: #F2AB27;
$orange: #D97D0D;
$red: #D94D1A;
$burntred: #732002;


body { 
    background-color: rgb(255, 255, 255);
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  h1 {
      color: $yellow;
      font-family: karla;
  }

  .color-yellow-blog {
      color: $orange;
  }

  .color-green-blog {
      color: $red;
  }

  .color-orange-blog {
     color: $burntred
  }
  


  .btn-learn {
    background-color: $yellow !important;
    border-color: $yellow !important;
    border-width: 2px;
    color: #333 !important;
  }
  
  .btn-learn:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }



  .btn-yellow {
    background-color: $orange !important;
    border-color: $orange !important;
    border-width: 2px;
    color: $text-white!important;
  }

  .btn-yellow:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }


  .btn-grn {
    background-color: $red !important;
    border-color: $red !important;
    border-width: 2px;
    color: $text-white !important;
  }

  .btn-grn:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }

  .btn-orange {
    background-color: $burntred!important;
    border-color: $burntred !important;
    border-width: 2px;
    color: $text-white!important;
  }

  .btn-orange:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }

  .btn-secondary{
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }


  .btn-secondary:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }


  .home-banner-img {
    background: url("https://res.cloudinary.com/dzddu7nbe/image/upload/v1617321842/Meal%20Planners/IMG_2002_hfwdud.jpg") no-repeat;
  }

  .post-1-title {
      color: $secondary-highlight;
  }
  
  img{ padding-bottom: 20px;
  }