//
// Custom styles
//

// Customised colour palette
$heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 
$green: #bfd746;    


body { 
    background-color: rgb(255, 255, 255);
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  h1 {
      color: $secondary-highlight;
      font-family: karla;
  }

  .color-yellow-blog {
      color: $secondary-highlight;
  }

  .color-green-blog {
      color: $green;
  }

  .color-orange-blog {
     color: $highlight-colour
  }


  .btn-learn {
    background-color: $secondary-highlight !important;
    border-color: $secondary-highlight !important;
    border-width: 2px;
    color: #333 !important;
  }
  
  .btn-learn:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }



  .btn-yellow {
    background-color: $secondary-highlight !important;
    border-color: $secondary-highlight !important;
    border-width: 2px;
    color: #333 !important;
  }

  .btn-yellow:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }


  .btn-grn {
    background-color: $green !important;
    border-color: $green !important;
    border-width: 2px;
    color: #333 !important;
  }

  .btn-grn:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }

  .btn-orange {
    background-color: $highlight-colour!important;
    border-color: $highlight-colour !important;
    border-width: 2px;
    color: #333 !important;
  }

  .btn-orange:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }

  .btn-secondary:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;

  }


  .home-banner-img {
    background: url("https://res.cloudinary.com/dzddu7nbe/image/upload/v1617321842/Meal%20Planners/IMG_2002_hfwdud.jpg") no-repeat;
  }