//
// Custom styles
//

body {
    background-color: rgb(245, 214, 75);
    // font-size: 1.2rem;
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  form {
    font-size: 1.2rem;
  }