




//Customised colour palette
// $heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 
$green: #bfd746;    

$navy: #323E40;
$yellow: #F2AB27;
$orange: #D97D0D;
$red: #D94D1A;
$burntred: #732002;

header {
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    color: $yellow;
}

h6 {
    text-align: center;
    color: $burntred;
    margin-bottom: 2em;
}


  
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: $orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: $navy;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }