//
// Custom styles
//

// Customised colour palette
$heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 
$green: #bfd746;               

$navy: #323E40;
$yellow: #F2AB27;
$orange: #D97D0D;
$red: #D94D1A;
$burntred: #732002;


h1{
  color: $green;
}


body {   
    background-color: rgb(255, 255, 255);
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  // .btn-learn {
  //   background-color: $green;
  // }

  .btn-learn {
    background-color: $secondary-highlight !important;
    border-color: $secondary-highlight !important;
    border-width: 2px;
    color: #333 !important;
  }
  
  .btn-learn:hover {
    background-color:$body-bg !important;
    color: seashell !important;
    border-color: $body-bg !important;
  }

// .home-banner-img {
//   background:url("https://res.cloudinary.com/dzddu7nbe/image/upload/c_crop,g_east,h_2000,w_3000,x_200/v1617673974/IMG_3445_bygl5w.jpg") no-repeat;
// }

.home-banner-img {
  background: url("https://res.cloudinary.com/dzddu7nbe/image/upload/v1617674076/IMG_1419_phoaqf.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3em;
}

@media (max-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
  .home-banner-img {
    background-size: 200% auto;
    background-position: top right;
  }
  .home-banner-img h1, .home-banner-img p, .home-banner-img a {
    font-size: 1rem !important;
  }
}



  
  .main-title {
    font-family: karla;
    color: $secondary-highlight;
    }


    .dark-box {
      padding-top: 3em;
      background-color: $navy;
    }

    .light-box {
      padding-top: 3em;
      background: $yellow
    }