//
// Custom styles
//


body {   
    background-color: rgb(255, 255, 255);
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  footer {
    grid-area: footer;
    height: 300px;
    background-color:$highlight-colour;
      margin-top: 20px;
      text-align: center;
      font-size: 18pt;
      color: #fff;
}