//
// Custom styles
//

// Customised colour palette
$heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 



body {   
    background-color: rgb(255, 255, 255);
  }
  
  // Style Bootstrap icons
  .bi {
    fill: currentColor;
  }

  footer {
    
    grid-area: footer;
    height: 300px;
    background-color:$highlight-colour;
      margin-top: 20px;
      text-align: center;
      font-size: 18pt;
      color: #fff;
}