body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
    
  }

  // Customised colour palette
$heading-text-colour: #F04B45;  // Red
$highlight-colour: #E9A822;    // Bright orange
$body-bg:#233351;                 // Navy Blue
$body-text-colour: #0D0D0D;     // Dark colour for text
$secondary-highlight: #F9E721;  //Secondary highlight colour (Yellow)

Nav { background-color:#F04B45;}

  