// Customised colour palette
$heading-text-colour: #F04B45;      // Red
$highlight-colour: #E9A822;         // Bright orange
$body-bg:#233351;                   // Navy Blue
$body-text-colour: #0D0D0D;         // Dark colour for text
$secondary-highlight: #F9E721;      //Secondary highlight colour (Yellow)
$text-white: snow;                  //white 
$green: #bfd746;   

$navy: #323E40;
$yellow: #F2AB27;
$orange: #D97D0D;
$red: #D94D1A;
$burntred: #732002;



.body {
    padding-bottom: 20px;
  }

.search-box {
    margin-bottom: 0;
} 

.navbar-orange {
    color: $text-white;
      background-color: $red;
  }    

  .dropdown-menu {
    background-color: $red;
  }

  .navbar-orange a {
    color: $text-white;    
}

.navbar form {
  margin-bottom: 0 !important;
}




.footer-text {
  color: $text-white;
  margin-bottom: 1em;
}

.un-list {
  display: inline;
  list-style-type: none;
}

.or-list {
  display: inline;
  list-style-type: none;
}

.footer-red {
  background-color: $navy;
  width: 100vw;
  padding: 3em;
}